<!DOCTYPE html>
<html>
    <head>
        {% include /Includes/Meta.html }
    </head>
    <body>
    <div class="">
        <a link="top"></a>
        {% include /Includes/Header.html }
        
        <div class="">
            {{ content }}
        </div>
        {% include /Includes/Footer.html }
    </div>
    </body>
</html>